body{
	padding-top: 75px;
	background-color: #FFF;
	font-family: 'Montserrat', sans-serif;
	background-image: none;
}
.navmenu-default, .navbar-default .navbar-offcanvas{
	background-color: #fff;
	overflow-x: hidden;
}

.navbar-fixed-top {
	transform: translate3d(0,0,0);
}
.row-li-tipo{
	/*margin-top:5px; margin-left:5px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #F0F0F0;
}

.act-card-img{
	padding-left: 0px;
}

.navmenu-default .navmenu-nav>.active>a,
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a,
.navmenu-default .navmenu-nav>.active>a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a:hover,
.navmenu-default .navmenu-nav>.active>a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a:focus{
	background-color: #fff;
	font-weight: bolder;
}
p{
	font-size: 1em;
}
.panel-group .panel+.panel{
	margin-top: 0px;
}

.panel-group .panel{
	border-radius: 0px;
}
.panel-default{
	border-left: none;
	border-right: none;
}
.panel-default>.panel-heading{
	background-color: #f0f0f0;
	border-left: none;
	border-right: none;
	color: #2b8838;
}

.panel-default>.panel-heading.collapsed{
	background-color: #fff;
	color: #000;
}
.panel-title{
	font-size: 1em;
}

.panel-title a{
	font-size: 1em;
	font-weight: 400;
}
.panel-title a:hover{
	text-decoration: none;
}
.panel-default>.panel-heading{
	border-radius: 0px;
}


.navbar-muni{
	max-height: 40px;
	display: inline-block;
	margin-right: 10px;
}

.act-card-holder{
	/*width: 85%;
	margin: 0 auto;*/
	padding-left: 20px;
	min-height: 100px;
	margin-bottom: 20px;
}

.act-card-info{
	color: #000;
}
.act-card{
	/*width: 100%;*/
	/*height: 200px;*/
	width: 85%;
	margin: 0 auto;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
	/*padding-left: 40px;*/
}
.act-card .card-title{
	font-size: 1.4em;
	margin-left: 40px;
	text-align: left;
	text-transform: none;
	color: #2b8838;
	font-weight: 300;
}
.act-card .event-date{
	text-align: right;
	margin-left:-10px;
	margin-right: 10px;
	margin-top:20px;
	font-weight: 300;
	font-size: 1em;
	line-height: 1.3em;
	/*font-family: inherit;*/
	color: #A8B5B9;
}
.act-card .event-divider{
  height: 1px;
  width: 25px;
	margin-left: 40px;
	margin-top: -5px;
  background-color: #93A8AC;
	margin-bottom: 15px;
}

.act-card-info{
	text-transform: none;
	padding-right: 30px;
}

.evento-img-cont {
    width: 75px;
    height: 100px;
		margin-left: -20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.act-card-info{
	min-height: 120px;
	padding-top: 5px;
	/*background: #A8B5B9;*/
}

.act-card-icons{
	min-height: 30px;
}

.icon-act-card{
	margin-right: 10px;
	color: #93A8AC;
}

.event-divider{
  height: 1px;
  width: 25px;
  background-color: #93A8AC;
  /*margin-left: 15px;*/
	margin-top: 20px;
}

.padding-15{
	padding-left: 15px;
}
.no-margin-img{
	margin: 0;
}
.evento-card{
	margin-top: 20px;
}

.evento-card .event-title {
    font-size: 1.3em;
		margin-top: 20px;
}

.evento-card .event-date {
    font-size: 1em;
		color: #A8B5B9;
}

.navbar-feria{
	background-color: #fff;
	color: #2b8838;
	padding-top: 5px;
	width: 100%;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);

}

.version-title{
	font-size: 1.1em;
	color: #FFF;
	text-align: left;
}
.version-number{
	font-size: 1.2em;
	color: #FFF;
	text-align: right;
}
.navbar-feria a{
	color: #2b8838;
	font-size: 20px;
}

.img-menu-cultura{
	margin-top: 5px;
	margin-left: 5px;
	max-height: 50px;
}
.img-menu-muni{
	margin-top: 5px;
	margin-left: -5px;
}
.navbar-feria .icon-bar{
	background-color: #575E66;
}
.navbar-feria .navbar-toggle{
	float: left;
	margin-left: 2%;
	margin-right: 0px;
	z-index: 1000;
	display: block;
}
.navbar-feria .navbar-toggle span{
	background-color: #575E66;
	border: 1px ;
}
.navbar-feria .navmenu-brand{
	margin: 0px 0px;
	padding: 0px 5px 0px 10px;
	font-size: 1em;
	/*display: inline-block;*/
	text-transform: uppercase;
}
.navbar-feria .navmenu-tags{
	color: #2b8838;
	font-size: 1em;
}
.navbar-feria .navmenu-tags a{
	color: #2b8838;
	font-size: 1em;
}
.navbar-feria .navmenu-search{
	margin: 4px 10px;
	padding: 9px 9px;
	float: right;
	display: inline-block;
	background-color: transparent;
	color: #000000;
	border: none;
}
.navbar-feria .navmenu-search:hover{
	border-radius: 50%;
	background-color: #3ead50;
	color: #FFF;
	width: 40px;
	border: 1px solid #3ead50;
}

.text-feria-img{
	text-transform: uppercase;
	font-weight: 500;
}


div.circle-image{
	max-width: 100%;
	width:100%;
	height:auto;
	display:block;
	padding-top:100%;
	border-radius:50%;
	background-position: initial;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
div.circle-image-li{
	max-width: 80%;
	width:80%;
	height:auto;
	display:block;
	padding-top:80%;
	/*border-radius:50%;*/
	border-radius: 5px;
	border: 1px solid #f0f0f0;
	background-position: initial;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

h1{
	font-size: 1.3em;
	/* text-transform: uppercase; */
	font-weight: 600;
}

.evento{
	padding: 5px 0px;
	color: #000;
	border-bottom: 1px solid #e0e0e0;
	text-decoration: none;
}

.evento .event-title{
	font-size: 1.3em;
}
.evento .event-date{
	font-size: 1em;
}
#event-time{
	text-align: right;
	margin-right: 5px;
}
#event-date{
	text-align: center;
}
.info-evento{
	background-color: #FFF;
}
p#event-info{
	margin-top: 20px;
	color: #A8B5B9;
}
#event-location{
	margin-bottom: 20px;
}

.event-tags{
	margin-left: 5px;
}
.event-tags .tag{
	padding:5px 10px;
	margin: 10px 5px;
	background-color: #2b8838;
	color: #fff;
	border-radius: 5px;
}
.info-evento .event-date{
	font-size: 1.1em;
	font-weight: 200;
}
.info-evento #event-location.event-date{
	font-weight: 300;
}


#event-name{
	font-size: 1.2em;
	font-weight: 300;
	color: #2b8838;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
}


.navmenu-nav .nombre-tipo{
	padding-top: 7.5px;
	margin-left: -15px;
	color: #777;
}


.event-date-time .event-date{
	font-size: 1.0em;
	padding-top: 5px;
	padding-bottom: 5px;
	margin:0;
	margin-left: 10px;
	margin-top: -5px;
	font-weight: 500;
	color: #A8B5B9;
}

.app-dev{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.app-dev h1{
	font-size: 1.2em;
  text-transform: uppercase;
  margin:5px;
  margin-bottom: 10px;
	font-family: "Montserrat";
}
.app-dev h2{
	margin: 5px;;
	font-size: 1.1em;
  text-transform: uppercase;
}

.version-platform{
	font-size: 1.1em;
	color: #FFF;
	text-align: center;
}

a.version-platform-link{
	color: #fff;
	text-decoration: underline;
}

a.version-platform-link:hover{
	color: #000;
	cursor: pointer;
}
a.version-platform-link.bg-white{
	color: #000;
	text-decoration: underline;
}
a.version-platform-link.bg-white:hover{
	color: #3ead50;
	cursor: pointer;
}

#loading{
	text-align: center;
	display: inline;
}

.searchField{
	display: none;
}

.searchField input{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-left: 30px;
  width: 100%;
  height: 65px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #000;
  border-top: 10px solid #3ead50;
  border-bottom: 10px solid #3ead50;
  border-left: 1px solid white;
  border-right: 1px solid white;
	background-color: #3ead50;
	color: #FFF;
	font-size: 1.5em;
}

.searchField ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #FFFFFF;
}
.searchField :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #FFFFFF;
   opacity:  1;
}
.searchField ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #FFFFFF;
   opacity:  1;
}
.searchField :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #FFFFFF;
}
.searchField ::-ms-input-placeholder { /* Microsoft Edge */
   color:    #FFFFFF;
}
.searchField input:focus {
    outline: none !important;
    box-shadow: none;
}
.page-prev{
	margin-left: 25px;
	color: #2b8838;
}

.page-next{
	margin-right: 25px;
	color: #2b8838;
}
.pager li>a, .pager li>span{
	background-color: transparent;
}

.share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.5em;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
}

.share-btn:hover {
  color: #eeeeee;
}

.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}

.share-btn.twitter     { background: #55acee; }
.share-btn.google-plus { background: #dd4b39; }
.share-btn.facebook    { background: #3B5998; }
.share-btn.stumbleupon { background: #EB4823; }
.share-btn.reddit      { background: #ff5700; }
.share-btn.linkedin    { background: #4875B4; }
.share-btn.whatsapp    { background: #00E584; }
.share-btn.email       { background: #444444; }


#share{
	margin: 10px 0px;
}
#share-icons{
	margin: 10px 0px;
}

calendar{
	margin: 10px 0px;
}
.navmenu-brand-simple{
	display: inline-block;
}
.navmenu-brand-completo{
	display: inline-block;
	max-width: 165px;
}

.filtroCont{
	margin-left: 10px;
	text-align: left;
}

.filtroAplicado{
	font-size: 2.25em;
	color: #3ead50;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	display: inline-block;
	margin: 0;
}
.circleFa{
	display: inline-block;
}
.circleFa i.fa {
	color: #3ead50;
  display: inline-block;
	width: 30px;
  border-radius: 50%;
  border: 1px solid #3ead50;
  padding: 0.5em 0.6em;
	vertical-align: 5px;
}
.circleFa i.fa:hover {
	cursor: pointer;
	text-decoration: none;
}

.circleFaCont:hover{
	text-decoration:  none;
}

#listado-actividades{
	text-align: center;
	padding-bottom: 50px;
}
#listado-actividades .o-actividad{
	width: 100%;
	overflow: hidden;
	height: 360px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
	display: inline-block;
	margin: 10px;
	text-align: left;
	margin-left: 0px;
	vertical-align: top;
}
#listado-actividades .o-actividad .o-actividad__imagen {
	position: relative;
	width: 100%;
	height: 225px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
#listado-actividades .o-actividad a{
	text-decoration: none;
}
#listado-actividades h3.vc_custom_heading{
	margin-left:30px;
	font-weight: 500 !important;
}

#listado-actividades .o-actividad{
	min-height: 360px;
	vertical-align: top;
	height: auto;
}

#listado-actividades .o-actividad .o-actividad__informacion{
	width: 100%;
	height: 165px;
	padding-top: 10px;
	position: relative;
	border-top: 1px solid #DDD;
}

#listado-actividades .o-actividad .o-actividad__cabecera{
	display:flex;
}

#listado-actividades .o-actividad .o-actividad__cabecera .flag{
	background-color: #f98b0c;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.25);
	color: #FFF;
	display: block;
	flex: 0 0 auto;
	font-size: 1.1em;
	font-family: 'Montserrat', serif;
	font-weight: 500;
	height:46px;
	padding: 10px 15px;
	position:relative;
	margin-right: 10px;
	top: -10px;
}

#listado-actividades .o-actividad .o-actividad__cabecera .o-actividad__titulo{
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	font-size: 1em;
	font-weight: 500;
	line-height: 1em;
	color: #202020;
	margin: 3px 12px;
	margin-bottom: 0px;
	display: inline-block;
	flex: 1 1 auto;
}
#listado-actividades .o-actividad .o-actividad__informacion .o-actividad__fecha-actividad{
	font-family: 'Montserrat', serif;
	font-size: 0.8em;
	font-style: italic;
	line-height: 1em;
	color: #5e5e5e;
	margin: 5px 16px;
}

#listado-actividades .o-actividad .o-actividad__informacion .o-actividad__descripcion{
	margin: 10px 16px;
}
#listado-actividades .o-actividad .o-actividad__informacion .o-actividad__descripcion > *{
	font-family: 'Montserrat', serif !important;
	color: #000000 !important;
	font-size: 0.9em !important;
	line-height: 1.1em !important;
}

#listado-actividades .o-actividad a {
	text-decoration: none !important;
}

#listado-actividades .o-actividad .o-actividad__informacion .o-actividad__lugar{
    font-family: 'Montserrat', sans-serif;
    color: #5e5e5e;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
	width: 90%;
    word-break: none;
    padding-top: 4px;
	font-size: 13px;
    line-height: 1.5em;
    margin: 0 16px;
    padding-bottom: 8px;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}

#listado-actividades .o-actividad .o-actividad__informacion .o-actividad__lugar .marker{
	vertical-align: -2px;
	opacity: 0.75;
}

#listado-actividades .o-actividad .o-actividad__informacion .o-actividad__lugar a{
	position: absolute;
	right: 0;
}

#listado-actividades .fa{
	margin-right:5px;
}
#listado-actividades .more {
	margin-top: -5px;
	height: 15px;
}
#listado-actividades .more:after {
	content: '● ● ●';
	font-size: 10px;
	vertical-align: -5px;
	color: #3ead50;
}
#listado-actividades .ellipsis {
	overflow: hidden;
	height: 31px;
}
#listado-actividades .ellipsis:before {
	display:none;
}
#listado-actividades .ellipsis > *:first-child {
	float: none;
	width: 100%;
}
#listado-actividades .ellipsis p {
	margin:0 !important;
}
#listado-actividades .ellipsis:after {
	content: "\02026";
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	float: right; position: relative;
	top: -15px; left: 100%;
	width: 3em; margin-left: -3em;
	padding-right: 5px;
	text-align: right;
}

.resultSinAct{
	text-align: left;
	margin-left: 12px;
	font-size: 1.25em;
	margin-top: 20px;
}

.previous a,
.next a{
	color: #3ead50;
	margin: 0px 15px;

}

.previous:hover,
.next:hover{
	cursor: pointer;

}

.infoActividadCont{
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 300px;
	text-align: center;
}

.imgActividad{
	width: 100%;
	height: 300px;
	background-position: center;
	background-size: cover;
	border: 1px solid #DDD;
}

.infoActividadCont img{
	display: inline-flex;

}
.tituloActividad{
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2.19em;
    margin-top: 75px;
    margin-bottom: 30px;
		text-transform: uppercase;
		text-align: left;
}

.descripcionActividad p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.15em;
	line-height: 1.66em;
	color: #5e5e5e;
}

.descripcionActividad a{
	color: #3ead50;
}

.fechaActividad{
	font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.25em;
  color: #161616;
  text-transform: capitalize;
}

.lugarActividad{
	font-family: 'Montserrat', sans-serif;
	color: #3ead50;
	font-size: 1.3em;
	margin-top:30px;
	margin-bottom: 10px;
}
.btnContainer{
	margin-top:35px;
}

.btnMapa{
	font-family: 'Monserrat', sans-serif;
  text-decoration: none;
  padding: 15px 50px;
  width: 220px;
  border-radius: 4px;
  background-color: #3fac4f;
  color: #FFF;
  font-size: 1em;
	text-align: center;
	text-transform: uppercase;
}
.btnMapa:hover{
  color: #FFF;
}

.tipoActividad,
.tipoActividad:hover{
	display: inline-block;
	background-color: #3ead50;
	padding: 5px 10px;
	color: #FFF;
	border-radius: 5px;
	margin: 5px;
}
.actContainer{
	margin-bottom: 30px;
}
