body{
	padding-top: 75px;
	background-color: #FFF;
	font-family: 'Roboto', sans-serif;
	background-image: none;
}
.navmenu-default, .navbar-default .navbar-offcanvas{
	background-color: #eee;
}
p{
	font-size: 1em;
}

.vermas{
	color: #8DC9C9;
}
.act-card-holder{
	width: 85%;
	padding-left: 20px;
	margin: 0 auto;
	min-height: 100px;
	margin-bottom: 20px;
}

.act-card-info{
	color: #000;
}
.act-card{
	width: 100%;
	/*height: 200px;*/
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
	/*padding-left: 40px;*/
}
.act-card .card-title{
	font-size: 1.4em;
	margin-left: 40px;
	text-align: left;
	text-transform: none;
	color: #8DC9C9;
	font-weight: 200;
}
.act-card .event-date{
	text-align: right;
	margin-left:-10px;
	margin-right: 10px;
	margin-top:30px;
	font-weight: 400 !important;
	font-size: 1em;
	line-height: 1.3em;
	/*font-family: inherit;*/
	color: #A8B5B9;
}
.act-card .event-divider{
  height: 2px;
  width: 20px;
	margin-left: 45px;
	margin-top: -5px;
  background-color: #575e66;
	margin-bottom: 15px;
  /*margin-left: 5px;*/
}

.act-card-info{
	text-transform: none;
	padding-right: 30px;
}

.evento-img-cont {
    width: 75px;
    height: 100px;
		margin-left: -20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.act-card-info{
	min-height: 120px;
	padding-top: 5px;
	/*background: #A8B5B9;*/
}

.act-card-icons{
	min-height: 30px;
}

.event-divider{
  height: 2px;
  width: 30px;
  background-color: #575e66;
  margin-left: 15px;
	margin-top: 10px;
}

.no-margin-img{
	margin: 0;
}
.evento-card{
	margin-top: 20px;
}

.evento-card .event-title {
    font-size: 1.3em;
		margin-top: 20px;
}

.evento-card .event-date {
    font-size: 1em;
		color: #A8B5B9;
}

.navbar-feria{
	background-color: #fff;
	color: #8DC9C9;
	padding-top: 5px;
	width: 100%;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
}

.version-title{
	font-size: 1.4em;
	color: #FFF;
	text-align: left;
}
.version-number{
	font-size: 1.2em;
	color: #FFF;
	text-align: right;
}
.navbar-feria a{
	color: #8DC9C9;
	font-size: 20px;
}
.navmenu-nav{
	margin-top: 20px;
}
.navbar-feria .icon-bar{
	background-color: #8DC9C9;
}
.navbar-feria .navbar-toggle{
	float: left;
	margin-left: 2%;
	z-index: 1000;
}
.navbar-feria .navbar-toggle span{
	background-color: #8DC9C9;
	border: 1px ;
}
.navbar-feria .navmenu-brand{
	/*margin: 8px 0px;*/
	/*padding: 9px 0px;*/

	display: inline-block;
	text-transform: uppercase;
}
.navbar-feria .navmenu-tags{
	color: #8DC9C9;
	font-size: 1em;
}
.navbar-feria .navmenu-tags a{
	color: #8DC9C9;
	font-size: 1em;
}
.navbar-feria .navmenu-search{
	margin: 4px 10px;
	padding: 9px 9px;
	float: right;
	display: inline-block;
	background-color: transparent;
	color: #8DC9C9;
	border: none;
}
.navbar-feria .navmenu-search:hover{
	border-radius: 50%;
	background-color: #fff;
	color: #000;
	border: 1px solid #fff;
}
.fixed-img.more_op{
  opacity: 0.85;

}
.fixed-img{
	position: absolute;
  background-image: url('../img/image-eventos.png');
  background-color: #fff;
  opacity: 0.5;
   width: 100%;
  z-index: 1000;
  min-height: 150px;
  background-position: center bottom;
  background-size: cover;
}
.fixed-img.home{
  min-height: 200px;
}
.fixed-img.evento{
  background-image: url('../img/image-evento.png');
  opacity: 1;
  -webkit-filter: brightness(65%);
}
.foreground{
	position: relative;
	z-index: 1000;
}
.img-holder{
  background-color: #eee;
  z-index: 1000;
  min-height: 149px;
}
.img-holder.home{
  min-height: 199px;
}
.logo-feria{
	max-width: 200px;
	width: 100%;
}
.logo-feria-muni{
	max-width: 150px;
	width: 100%;
	margin-left: -10px;
}
.img-text{
	text-align: center;
	color: #fff;
	padding-top: 45px;
	font-weight: 200;
}
.img-img{
	text-align: center;
	color: #fff;
	padding-top: 45px;
	font-weight: 200;
}
.text-feria-img{
	text-transform: uppercase;
	font-weight: 500;
}
.btn-feria{
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 30px;
	color: #fff;
	min-width: 125px;
	margin-bottom: 20px;
	margin-left: 5px;
	margin-right: 5px;
}
.btn-feria.inverted{
	border: 2px solid #000;
	color: #000;
}
.btn-feria:hover{
	color: #000;
	background-color: #fff;
}
.btn-feria.not-hover:hover{
	color: #fff;
	background-color: transparent;
}
.btn-feria.inverted:hover{
	color: #fff;
	background-color: #000;
}

div.circle-image{
	max-width: 100%;
	width:100%;
	height:auto;
	display:block;
	padding-top:100%;
	border-radius:50%;
	background-position: initial;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
div.circle-image-li{
	max-width: 80%;
	width:80%;
	height:auto;
	display:block;
	padding-top:80%;
	border-radius:50%;
	background-position: initial;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

h1{
	font-size: 1.3em;
	text-transform: uppercase;
	font-weight: 600;
}

.evento{
	padding: 5px 0px;
	color: #000;
	border-bottom: 1px solid #e0e0e0;
	text-decoration: none;
}

.evento:hover{
	background-color: #f3f3f3;
}

.evento .event-title{
	font-size: 1.3em;
}
.evento .event-date{
	font-size: 1em;
}
#event-time{
	text-align: right;
	margin-right: 5px;
}
#event-date{
	text-align: center;
}
.info-evento{
	background-color: #F2F2F2;
}
p#event-info{
	margin-top: 20px;
	color: #A8B5B9;
}
#event-location{
	margin-bottom: 20px;
}

.event-tags{
	margin-left: 5px;
}
.activity-body{
	background-color: #F2F2F2;
}
.event-tags .tag{
	padding:5px 10px;
	margin: 10px 5px;
	background-color: #8DC9C9;
	color: #fff;
	border-radius: 5px;
}
.info-evento .event-date{
	font-size: 1.1em;
	font-weight: 200;
}
.col-xs-offset-4-5{
	margin-left: 37.5%;
}

#event-name{
	font-size: 1.2em;
	font-weight: 300;
	color: #8DC9C9;
	margin-left: 10px;
	margin-top: 10px;
}

.li-title{
/* 	border-bottom: 4px solid #4d9e68; */
	color: #000;
	font-weight: bold;
	font-size: 1.1em;
	padding: 5px;
	width: 80%;
	text-align: right;
}

.li-title-borde {
 position: absolute;
 height: 4px;
 margin-top: -5px;
 width: 80%;
background: #00892D; /* Old browsers */
/*background: -moz-linear-gradient(left, #2CB6B8 0%, #009c71 100%);
background: -webkit-linear-gradient(left, #2CB6B8 0%,#009c71 100%);
background: linear-gradient(to right, #2CB6B8 0%,#009c71 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2CB6B8', endColorstr='#009c71',GradientType=0 );*/

}
.navmenu-nav .col-xs-9{
	padding-top: 7.5px;
	margin-left: -15px;
	color: #777;
}

.event-date-time .event-date{
	padding-top: 5px;
	padding-bottom: 5px;
	margin:0;
}
.event-date-time .event-date{
	font-size: 1.0em;
	margin-left: 10px;
	margin-top: -5px;
	font-weight: 200;
	color: #A8B5B9;
}

.menu-bg-green{
	background-image: url('../img/green-bg.png');
	width: 100%;
	background-size: cover;
	height: 35px;
	margin-top: -15px;
}
.menu-bg{
	height: 150px;
	width: 100%;
	background-image: url('../img/menu-bg.png');
	background-size: cover; overflow: hidden;
}
.index-recom{
	font-size: 1.1em;
	text-align: center;
	margin-top: 10px;
}
.results-divider{
	height: 2px;
	width: 55%;
	margin: 0 auto;
	background-color: #575E66;
		margin-bottom: 30px;
}

.about{
	background-color: #000;
	padding-top: 50px !important;
}

.info-app-version{
	background-color: #2D2D2D;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
	font-weight: 200;
}
.info-app-version h1{
	margin-top: 10px;
	font-size: 1.1em;
	text-transform: none;
	font-weight: 200;
}

.info-app-version h1.ver-num{
	text-align: right;
}
.feria-logo{
	margin-top: 10px;
	margin-bottom: 10px;
}

.app-dev{
	margin-top: 10px;
	margin-bottom: 10px;
}

.app-dev h1{
	font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 600;
    margin:5px;
    margin-bottom: 10px;
}
.app-dev h2{
	margin: 5px;;
	font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
}

#loading{
	text-align: center;
	display: inline;
}

.searchField{
	display: none;
}
.searchField input{
	padding-left: 10px;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000;
	border-top: 5px solid #60B5A3;
	border-bottom: 5px solid #60B5A3;
	border-left: 1px solid white;
	border-right: 1px solid white;
}
.searchField input:focus {
    outline: none !important;
    box-shadow: none;
}

#event-esp-txt{
	text-align: center;
	color: #000;
}

.page-prev{
	margin-left: 5px;
}

.page-next{
	margin-right: 5px;
}
.pager li>a, .pager li>span{
	background-color: transparent;
}


#group-description{
	padding-bottom: 15px;
	border-bottom: 2px solid #eee;
	margin-bottom: 15px;
}
#group-flyer{
	text-align: center;
}
#group-flyer img{
	max-width: 80%;
	display: inline;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  /*body {
    padding: 0;
  }*/
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
  .canvas {
    padding: 0;
  }
}
.logo-muni-letras{
	position: absolute;
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
	.logo-muni-letras{
	    margin-left: 100px;
	}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.logo-muni-letras{
	    margin-left: 100px;
	}

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.logo-muni-letras{
	    margin-left: 20px;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.logo-muni-letras{
		position: absolute;
	    margin-left: -70px;
	    margin-top: 35px;
	    height: 20%;
	}
	#group-flyer img{
		max-width: 100%;
	}
}

/** Social Button CSS **/

.share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.5em;
/*     width: 4em; */
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
}

.share-btn:hover {
  color: #eeeeee;
}

.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}

.share-btn.twitter     { background: #55acee; }
.share-btn.google-plus { background: #dd4b39; }
.share-btn.facebook    { background: #3B5998; }
.share-btn.stumbleupon { background: #EB4823; }
.share-btn.reddit      { background: #ff5700; }
.share-btn.linkedin    { background: #4875B4; }
.share-btn.whatsapp    { background: #00E584; }
.share-btn.email       { background: #444444; }


#share{
	margin: 10px 0px;
}
#share-icons{
	margin: 10px 0px;
}

calendar{
	margin: 10px 0px;
}
